@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  /* Background */
  --color-bg-primary: #0f5fbd;
  --color-bg-secondary: #7eafe8;
  --color-bg-dashboard: #f6f6f6;
  --color-bg-announcement: #e3e4ff;

  /* Foreground */
  --color-fg-primary: #0a2468;
  --color-fg-secondary: #7bb9fa;
  --color-fg-tertiary: #93979b;
  --color-fg-muted: #bdc7d1;
  --color-fg-announcement: #3e578a;

  --color-input-border: #e3e6ee;

  --color-destructive: #e9344c;
}
