@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  /* Background */
  --color-bg-primary: #0f5fbd;
  --color-bg-secondary: #7eafe8;
  --color-bg-dashboard: #f6f6f6;
  --color-bg-announcement: #e3e4ff;
  --color-bg-success: #daf5ec;
  --color-bg-inProgress: #fdbb60;
  --color-bg-cancelled: #ffd9de;
  --color-bg-pendingApproval: #f2f3f4;
  --color-icon-bg: #eeeeff;

  /* Foreground */
  --color-fg-primary: #0a2468;
  --color-fg-secondary: #7bb9fa;
  --color-fg-tertiary: #93979b;
  --color-fg-muted: #bdc7d1;
  --color-fg-announcement: #3e578a;
  --color-fg-success: #1fcb91;
  --color-fg-inProgress: #e08404;
  --color-fg-cancelled: #e9344c;
  --color-fg-pendingApproval: #0a2468;
  --color-fg-icon: #5d5fef;
  --color-input-border: #092256;

  --color-destructive: #e9344c;
}
